main, header {
display : flex;
align-items : center;
justify-content : center;
}
header {
background-color : rgb(160, 180, 194);
background-image : url("../portfoloio/orange.jpg");
background-size : cover;
width : 100%;
text-align : center;
flex-grow : 1;
min-height : 100vh;
border-radius : 10px;
}
h1 {
font-family : 'Playfair Display SC', serif;
font-size : 60px;
text-decoration : none;
color : rgb(254, 144, 50);
}
main {
display : inline-block;
background : #FFF;
margin : 5px;
text-align : center;
line-height : 100px;
width : 100%;
flex-direction : row;
}
.bottom {
margin-left : 50px;
padding : 5px;
font-family : 'Playfair Display SC', serif;
font-size : 30px;
color : rgb(254, 166, 124);
border-right : 0.5px solid #aaa;
display : inline-block;
}
a:last-child {
border-right : none;
}
a:first-child {
border-left : none;
}
a:hover {
color : rgb(152, 216, 238);
}
